
@import "lib/variables";
@import "lib/margin";
@import "lib/flex";
@import "lib/text";

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Source Han Sans CN, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 12px;
  color: #1E1E1E;
}

#app {
  height: 100%;
  overflow: hidden;
  /*//overflow-y: auto;*/
}

.pointer{
  cursor: pointer;
}
